<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Shopping List</h1>
    <div ng-controller='ToBuyController as toBuy'>
    <h4>To Buy:</h4>
      <input type="text" ng-model="toBuy.itemName" placeholder="item name">
      <input type="text" ng-model="toBuy.itemQuantity" placeholder="quantity">
      <button ng-click="toBuy.addItem();">Add Item To Shopping List</button>
      <ol>
        <li ng-repeat="item in toBuy.items" ng-model="items">
          Buy {{item.quantity}} {{item.name}} 
          <button ng-click="toBuy.markItemBought($index)">Bought!</button>
        </li>
      </ol>

    </div>

    <div ng-controller="AlreadyBoughtController as itemBuyer">
      <h4> Already Bought: </h4>
      <div ng-if="itemBuyer.items.length < 1"> Nothing bought yet!</div>
      <div ng-if="itemBuyer.wantedItems.length === 0 && itemBuyer.items.length > 0">Everything is bought!</div>
      <ol ng-if="itemBuyer.wantedItems.length !== 0 && itemBuyer.items.length > 0">
        <li ng-repeat="item in itemBuyer.items">Bought {{item.quantity}} {{item.name}}</li>
      </ol>
  </body>
</html>